
.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 20vw;
  height: 100vh;
  overflow: hidden;
  background-color: #3D3B3C;
  text-align: center;
  color:#F3F7F4;
  box-shadow: 10px 0 5px #bed0db;

  h1 {
    font-size: 3vw;
  }

  &__punk {
    color: #6ab4cb;
  }

  &__search {
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    margin-left: 10%;
  }

  &__range {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin-bottom: 20px;
  }

  #search-box {
    margin-bottom: 20px;
  }

  &__change-page {
    width: 20vw;
    margin-left: -3vw;

    &__selected {
      background-color: #6ab4cb;
      border: none;
      border-radius: 2px;
      width: 8%;
    }
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
  }
}