@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400&display=swap');

* {
  font-family: 'Merriweather Sans', sans-serif;
}

.App {
  overflow-x: hidden;
  background-color: #3D3B3C;
  min-height: 100vh;
}