@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
  font-family: 'Fjalla One', sans-serif;
}

.App {
  overflow-x: hidden;
  background-color: #F3F7F4;
  min-height: 100vh;
}